/* src/components/StatCard/StatCard.css */
.StatCard {
    width: 100%;
    height: 11.6667vw; /* 224px / 1920px * 100 */
    background-color: var(--clr-dark-bg);
    border-radius: 1.0417vw; /* 20px */
    padding: 1.56vw;
    display: flex;
    flex-direction: column;

}

.StatCard_header {
    margin-bottom: 0.6vw;
}

.StatCard_title {
    font-size: 0.94vw; /* 18px */
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.StatCard_content {
    display: flex;
    flex-direction: column;
    gap: 3.75vw;
}

.StatCard_value {
    font-size: 1.35vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: var(--clr-white);
}

.StatCard_change {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.26vw;
}

.StatCard_change_percent {
    font-size: 0.73vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
}

.StatCard_change.positive .StatCard_change_percent {
    color: #00ff00;
}

.StatCard_change.negative .StatCard_change_percent {
    color: #ff0000;
}

.StatCard_change_description {
    font-size: 0.73vw; /* 14px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .StatCard {
        height: 19.92vw;
        border-radius: 2.08vw;
        padding: 2.60vw;
    }

    .StatCard_header {
        margin-bottom: 2.08vw;
    }

    .StatCard_title {
        font-size: 2.4vw;
    }

    .StatCard_content {
        gap: 1.04vw;
    }

    .StatCard_value {
        font-size: 3.13vw;
    }

    .StatCard_change {
        gap: 0.52vw;
    }

    .StatCard_change_percent {
        font-size: 1.82vw;
    }

    .StatCard_change_description {
        font-size: 1.85vw;
    }
}

@media (max-width: 767px) {
    .StatCard {
        height: 31.11vw;
        border-radius: 2.78vw;
        padding: 4.17vw;
    }

    .StatCard_header {
        margin-bottom: 2.78vw;
    }

    .StatCard_title {
        font-size: 3.33vw;
    }

    .StatCard_content {
        gap: 2.22vw;
    }

    .StatCard_value {
        font-size: 5.56vw;
    }

    .StatCard_change {
        gap: 1.11vw;
    }

    .StatCard_change_percent {
        font-size: 3.89vw;
    }

    .StatCard_change_description {
        font-size: 3.33vw;
    }
}
